@use 'variables' as *;
@use 'mixins' as *;

.header {
    @include flex-center;
    justify-content: space-between;
    padding: $spacing-sm;
    background: $color-bg;
}

.main {
    padding: $spacing-lg $spacing-sm;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $spacing-md;
}